.register{
    justify-content: center;
    background-color: rgb(58, 59, 59);
    display: flex;
    height: 100%;
    align-items: center;
}
.fromRegister{
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    width: 367.19px;
    height: 500px;
    display: block;
    text-align: center;
}
.registrationline{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 10px 5px;
    

}
.registrationline>input{
    font-size: 25px;
    outline: none;
    border: none;
    background-color: rgb(172, 210, 243);
    
}
.fromRegister>button{
    font-size: 20px;
    margin: 10px;
    background-color: rgb(107, 94, 230);
    border: none;
    padding: 5px;
    
}
.fromRegister>button:hover{
    background-color: rgb(224, 72, 72);
    color: #ffffff;
}
#aaa{
    font-size: 25px;
    margin: 10px;
    font-weight: 800;
    box-shadow: 5px;
}